<template>
    <div>
        <h1>Post List</h1>
        <h2>Number post : {{totalPost}}</h2>
        <hr>
        <table style="width:100%">
            <tr>
                <th>id</th>
                <th>Author</th> 
                <th>Title</th>
                <th>Content</th>
                <th></th>
                <th></th>
            </tr>
            <tr v-for="(post, index) in posts" :key="index">
                <td>{{post.id}}</td>
                <td>{{post.author}}</td>
                <td>{{post.title}}</td>
                <td>{{post.content}}</td>
                <td><button @click="deletePost(post.id)">Delete</button></td>
                <td><router-link class="btn btn-primary" :to="{name:'post.edit',params:{id:post.id} }">Edit</router-link></td>
            </tr>
        </table>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { mapState } from 'vuex'
export default {
    data() {
        return {
        }
    },
    methods: {
        deletePost: function(id){
            this.$store.dispatch("post/deletePost",id)
        }
    },
    computed: {
        /////You can using 1 of 2 ways below, recommend using mapState
        // users() {
        //     return this.$store.state.user.users
        // },
        ...mapState({
            posts: state => state.post.posts,
        }),
        ...mapGetters('post', {
            totalPost: 'totalPost',
        })
    },
    mounted() {
        this.$store.dispatch("post/allPost")

    },
    created() {
        
    },
}
</script>