<template>
    <div id="update-post">
        <h1>Edit The User</h1>
        <form @submit.prevent="edit">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" :placeholder="post.name"
                       v-model="post.title" required />
            <br>
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" :placeholder="post.author"
                       v-model="post.author" required />
            <br>
            <label for="content">Content</label>
            
            <input type="text" class="form-control" id="content" :placeholder="post.content"
                       v-model="post.content" required />
            <br>
            <br>
            <button type="submit"> Submit</button>
        </form>

    </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    methods: {
        edit: function(){
            this.$store.dispatch('post/editUser', this.post);
            this.$router.push({name: 'post.list'});
        }
    },
    beforeCreate: function () {
            this.$store.dispatch('post/getOnePost', this.$route.params.id);
    },
    computed: ({
            ...mapState({
                post: state=> state.post.post
            }),
    })
}
</script>